<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{template "title" .}} - {{.site_name}}</title>
    <meta name="theme-color" content="#007b8b">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{.site_name}}">
    <meta name="msapplication-starturl" content="https://studygolang.com">
    <meta name="msapplication-navbutton-color" content="#007b8b">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{.site_name}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="logo">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.html">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="main-content">
		{{template "content" .}}
	</div>
</body>
</html>